resources/GeneralSans-Medium.otf
resources/GeneralSans-Regular.otf
project 1.mp4
master git/challenge 1/resources/cynthia.png
master git/challenge 1/resources/GeneralSans-Medium.otf
master git/challenge 1/resources/GeneralSans-Regular.otf
master git/challenge 1/resources/hudu.png
master git/challenge 1/resources/ixperience.png
master git/challenge 1/resources/plug.png
.vscode/launch.json
