resources/GeneralSans-Medium.otf
resources/GeneralSans-Regular.otf
project 1.mp4
master git/challenge 1/resources/cynthia.png
master git/challenge 1/resources/GeneralSans-Medium.otf
master git/challenge 1/resources/GeneralSans-Regular.otf
master git/challenge 1/resources/hudu.png
master git/challenge 1/resources/ixperience.png
master git/challenge 1/resources/plug.png
.vscode/launch.json
master git/challenge 1/CHALLENGE-1/resources/plug.png
master git/challenge 1/CHALLENGE-1/resources/hudu.png
master git/challenge 1/CHALLENGE-1/icon.ico
master git/challenge 1/CHALLENGE-1/resources/ixperience.png
master git/challenge 1/CHALLENGE-1/resources/cynthia.png
master git/challenge 1/CHALLENGE-1/script.js
master git/challenge 1/animated-sidebar.html
master git/challenge 1/CHALLENGE-1/style.css
master git/challenge 1/CHALLENGE-1/readme.txt
master git/challenge 1/CHALLENGE-1/readme.md
master git/challenge 1/CHALLENGE-1/loco.css
master git/challenge 1/CHALLENGE-1/index.html
master git/challenge 1/index.html
master git/challenge 1/CHALLENGE-1/.gitignore
master git/challenge 1/index.html
